In [10]:
from builtins import bytes

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

%matplotlib inline

In [11]:
df1 = pd.read_csv('robota_ua.csv')
df1["site"] = "robota.ua"
df1

,job,name,years,cities,salary,info,site
0,Data scientist,Анонимный соискатель,19.0,Львов,20555.0,NaN,robota.ua
1,Data Scientist,Kyrylo,20.0,Киев,NaN,Data Scientist at Student Project (февр. 2024 ...,robota.ua
2,Data scientist,Сергей Сергеевич,31.0,Харьков,32888.0,Machine Learning Engineer at BETINVEST (июнь 2...,robota.ua
3,"junior data scientist, junior data analyst(rem...",Andrii,26.0,Киев,NaN,"Analyst at UBC Group (февр. 2021 - май 2021, 3...",robota.ua
4,Data scientist,Оксана,31.0,Львов,NaN,стажер чергова на підстанції at регіональна ме...,robota.ua
5,Junior data scientist,Никита,20.0,Киев,20000.0,Менеджер по работе с клиентами at (янв. 2020 ...,robota.ua
6,"Data Engineer, Data Scientist, Machine Learnin...",Andrii,20.0,Киев,NaN,NaN,robota.ua
7,Data scientist,Анонимный соискатель,20.0,Киев,41110.0,"Data Scientist at (март 2024 - по сегодня, 4 ...",robota.ua
8,Data scientist,Роман,NaN,Киев,NaN,Data scientist at PrivatBank (март 2024 - июль...,robota.ua
9,Junior data scientist,Stanislav,24.0,Тернополь,20555.0,Bootcamp Data Scientist at Amazinum (окт. 2023...,robota.ua
10,Data Scientist / Research Engineer,Олександр,21.0,Киев,82220.0,Data Scientist at DataObrii (февр. 2024 - по с...,robota.ua
11,"Data scientist, researcher",Yevgeniy Mihaylovich,44.0,Харьков,82220.0,data scientist at Simcord (апр. 2011 - по сего...,robota.ua
12,Data scientist,Єва,19.0,Харьков,NaN,2d artist at Game dev enthusiasts (апр. 2023 -...,robota.ua
13,Data scientist,Nazar,24.0,Львов,49332.0,Data scientist at Softserve (март 2023 - янв. ...,robota.ua
14,Trainee/Junior Data Scientist,Артем,22.0,Киев,30833.0,NaN,robota.ua
15,Data scientist,Arsen,30.0,Киев,164440.0,Data scientist at MyCredit (июнь 2021 - по сег...,robota.ua
16,Data scientist,Дмитро,23.0,Львов,NaN,Data Scientist / Python Developer at IXIOO (но...,robota.ua
17,Data scientist,Федор,24.0,Киев,11000.0,NaN,robota.ua
18,Data scientist,Валерій,20.0,Киев,NaN,Репетитор з математики at https://unilink.us/m...,robota.ua
19,Junior data scientist,Верба,22.0,Запорожье,NaN,NaN,robota.ua

In [12]:
df2 = pd.read_csv('work_ua.csv')
df2.drop_duplicates()
df2["site"] = "work.ua"
df2

result_df = pd.concat([df1, df2], ignore_index=True)
result_df

,job,name,years,cities,salary,info,site
0,Data scientist,Анонимный соискатель,19.0,Львов,20555.0,NaN,robota.ua
1,Data Scientist,Kyrylo,20.0,Киев,NaN,Data Scientist at Student Project (февр. 2024 ...,robota.ua
2,Data scientist,Сергей Сергеевич,31.0,Харьков,32888.0,Machine Learning Engineer at BETINVEST (июнь 2...,robota.ua
3,"junior data scientist, junior data analyst(rem...",Andrii,26.0,Киев,NaN,"Analyst at UBC Group (февр. 2021 - май 2021, 3...",robota.ua
4,Data scientist,Оксана,31.0,Львов,NaN,стажер чергова на підстанції at регіональна ме...,robota.ua
...,...,...,...,...,...,...,...
2192,Аналитик,Приховано,31.0,"Київ, Львів, Одеса",50000.0,Руководитель проекта,work.ua
2193,Аналітик,Надія,31.0,Івано-Франківськ,NaN,Надія Гривінська Я кваліфікований економіст з ...,work.ua
2194,"Економіст, кредитний аналітик",Інна,34.0,Київ,33000.0,Головной економіст служби ММСБ,work.ua
2195,"Manager, economist-analyst, expert-consultant",Олег,48.0,"Рівне, Дистанційно",NaN,Quality Systems Manager (Business Analyst),work.ua
2196,Аналітик,Приховано,23.0,Дніпро,NaN,Іванова Дар’я Олегівна Фахівець із забезпеченн...,work.ua

In [13]:
def calculate_relevance(row):
    score = 0
    for col in row.index:
        if col == 'info':
            if pd.notnull(row[col]) and len(str(row[col])) > 10:
                score += 1
        elif col == 'cities':
            if pd.notnull(row[col]) and len(str(row[col]).split(",")) > 1:
                score += 1
        elif pd.api.types.is_bool_dtype(result_df[col]):
            if row[col]:
                score += 1
        elif pd.notnull(row[col]) and row[col] != '':
            score += 1
    return score

result_df['relevance'] = result_df.apply(calculate_relevance, axis=1)

In [14]:
result_df.sort_values(by='relevance', ascending=False, inplace=True)
result_df

,job,name,years,cities,salary,info,site,relevance
1738,Аналитик,Анна,31.0,"Одеса, Дистанційно",25000.0,"Освіта: 01.2009 - 01.2015: Учет и Аудит (ОНЭУ,...",work.ua,7
763,"Data Scientist, Research Engineer",Oleksandr,21.0,"Київ, Дистанційно",80000.0,Data Scientist,work.ua,7
1672,"Data analyst, scientist",Лілія,38.0,"Київ, Дистанційно",35000.0,Лілія Пономаренко Адреса: м. Київ Тел. Електро...,work.ua,7
1740,"SEO-специалист, Team, tech, strategy lead, PBN...",Андрей,32.0,"Дніпро, Запоріжжя",73000.0,Loboda Andrew. 12/06/1992 - fluency in English...,work.ua,7
57,"Web-розробник, аналітик даних, адміністратор M...",Dmytro,29.0,"Миколаїв, Дистанційно",15000.0,Аналітик мобильних додатків,work.ua,7
...,...,...,...,...,...,...,...,...
1602,Аналітик баз даних,Віталій,NaN,Дистанційно,NaN,Візитка,work.ua,3
1682,Data analyst,Вірджінія,NaN,Вінниця,NaN,Візитка,work.ua,3
1653,Інтернет-аналітик,Наталія,NaN,Дистанційно,NaN,Візитка,work.ua,3
1654,Фінансовий аналітик,Юлиія,NaN,Дистанційно,NaN,Візитка,work.ua,3
1664,Аналітик,Tetiana,NaN,Дистанційно,NaN,Візитка,work.ua,3

In [16]:
result_df.to_csv('result_df.csv')